@tailwind base;
@tailwind components;
@tailwind utilities;

.book {
  @apply bg-book-gradient
         border-0
         border-book-color
         border-solid
         box-content
         rounded-t-sm
         rounded-b-[1px]
         cursor-pointer
         text-sm
         [overflow:hidden]
         pt-2
         pb-6
         relative
         text-center
         whitespace-nowrap
         z-[2]
         data-[selected]:outline
         data-[selected]:outline-2
         data-[selected]:outline-[#77abb7]
         data-[selected]:outline-offset-2
         data-[selected]:z-[3]
         data-[focused]:bottom-[-4px]
         data-[focused]:[overflow:visible]
         data-[focused]:[transform:rotateX(-15deg)]
         data-[focused]:z-[1]
         [.focused+&]:z-0
         data-[text-color='light']:text-gray-100
         data-[text-color='dark']:text-gray-600
         data-[font='serif']:font-book-serif
         data-[font='sans']:font-book-sans
         data-[font='cursive']:font-book-cursive
         data-[font='fantasy']:font-book-fantasy
         h-[var(--book-height)]
         w-[var(--book-thickness)]
         leading-[var(--book-thickness)];
}

.title-spine-decoration {
  @apply data-[spine-decoration='top-double']:[border-top:4px_double]

         data-[spine-decoration='double']:[border-top:4px_double]
         data-[spine-decoration='double']:[border-bottom:4px_double]

         data-[spine-decoration='double-solid']:[border-top:4px_double]
         data-[spine-decoration='double-solid']:[border-bottom:2px_solid]

         data-[spine-decoration='ridge']:[border-top:4px_groove]
         data-[spine-decoration='ridge']:[border-bottom:4px_ridge];
}

.book::before {
  background: #fff;
  border-width: 0 2px 2px;
  border-style: solid;
  border-color: inherit;
  box-sizing: content-box;
  content: " ";
  display: none;
  height: 45px;
  left: -2px;
  position: absolute;
  transform: rotateX(81deg) rotateZ(-4deg);
  top: -26px;
  width: calc(100% - 4px);
  z-index: 3;
}

.book[data-focused]::before {
  display: block;
}

.book[data-focused]::after {
  background: radial-gradient(circle at top, #6dd5ed, transparent);
  border-radius: 0 0 8px 8px;
  bottom: -13px;
  content: " ";
  display: block;
  height: 8px;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 16px;
  z-index: 4;
}

.book-details::before {
  background: #fff;
  border-color: inherit;
  border-style: solid;
  border-radius: 2px 9px 3px 2px;
  border-width: 2px 0 3px 2px;
  box-shadow: -3px 0 7px #555;
  display: block;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.book-details::after {
  background: #fff;
  border-color: inherit;
  border-style: solid;
  border-width: 2px 3px 3px 0;
  border-radius: 6px 2px 2px 3px;
  box-shadow: 1px 0 10px #555;
  display: block;
  content: " ";
  height: 100%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 1px;
  width: 50%;
}
